.match h3 + div {
    background-color: rgba(0, 0, 0, .2);
}

.cardMatch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem;
    overflow: hidden;
    transition-property: height, padding;
    transition-duration: .35s;
    transition-timing-function: ease-out;

    .cardMatch__container{
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 10px;
        width: 17rem;

        p {
            margin: 0 0 1rem;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0 0.15rem 0.15rem 0.15rem;
            font-size: 1rem;
            text-transform: uppercase;
            text-decoration: none;
            color: #247ba0;
            
            &.highlights {
                display: inline-flex;
                justify-content: center;
                flex-direction: row;
                margin: 1rem 0 0;
                padding: .05rem 0.35rem;
                transition: all .25s ease-out;
                border-radius: .45rem;

                h4 {
                    margin: 0;
                    padding: 0.2rem 0.2rem 0.15rem 0.2rem;
                }
                &:hover {
                    .highlight-icon {
                        font-size: 1.5rem;
                    }
                    color: #fff;
                    background-color: #247ba0;
                }
            }
        }

        .highlight-icon {
            font-size: 1.5rem;
            padding: 0.2rem 0.2rem 0.15rem 0.2rem;
            border-radius: .25rem;
            transition: all .25s ease-out;
        }

        .cardMatch__content {
            display: flex;
            gap: 1rem;
            justify-content: space-evenly;

            a {
                gap: .5rem;
                padding: 0;
                
                h4 {
                    margin: 0;
                    padding: 0.2rem 0.4rem;
                    border-radius: .25rem;
                    transition: all .25s ease-out;
                }
    
                &:hover h4,
                &.active h4 {
                    background-color: #247ba0;
                    color: #fff;
                }
            }
            
            img {
                width: 62px;
                border-radius: .4rem;
                box-shadow:
                    0px 0.7px 2.2px rgba(0, 0, 0, 0.02),
                    0px 1.7px 5.3px rgba(0, 0, 0, 0.028),
                    0px 3.1px 10px rgba(0, 0, 0, 0.035),
                    0px 5.6px 17.9px rgba(0, 0, 0, 0.042),
                    0px 10.4px 33.4px rgba(0, 0, 0, 0.05),
                    0px 25px 80px rgba(0, 0, 0, 0.07);
            }

            div {
                display: flex;
                height: 40px;
                flex-direction: column;
                justify-content: center;

                p {
                    margin: 0;
                    font-weight: bold;
                }
                p:nth-child(2) {
                    font-size: .8rem;
                    font-weight: normal;
                }
            }
        }
    }
}